/* Common CSS Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
  margin: 0;
}

:root {
  --primary-color: #111111;
  --secondary-color: #686868;
  --tertiary-color: #ffffff;
  --quaternary-color: #fec600;
  --quinary-color: #e4e4e4;
  --dark-color: #353535;
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semibold-font-weight: 600;
  --bold-font-weight: 700;
}
/* Common CSS End */

/* Navbar Area Start */
.navbar {
  position: absolute;
  width: 100%;
  z-index: 1;
  --bs-navbar-padding-y: 0;
}

.navbar::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #fec600;
  bottom: 0;
  left: 0;
  opacity: 0.4;
}

.nav-link {
  color: var(--tertiary-color);
  padding: 40px 20px !important;
  font-family: var(--secondary-font);
  position: relative;
}

.nav-link:hover {
  color: var(--quaternary-color);
}

.nav-link::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #fec600;
  left: 0;
  bottom: -0.4px;
  z-index: 1;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.nav-link:hover::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
/* Navbar Area End */

/* Banner Area Start */
#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/banner-backgrount.jpg) no-repeat center / cover;
  padding: 250px 0 200px 0;
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
}

.banner-text h3 {
  font-size: 36px;
  line-height: 60px;
  color: var(--quinary-color);
  font-family: var(--secondary-font);
  font-weight: var(--regular-font-weight);
  padding: 0 62px;
}

.banner-text h3 span {
  color: var(--quaternary-color);
  font-weight: var(--bold-font-weight);
  font-size: 55px;
  line-height: 30px;
  text-transform: uppercase;
}

.banner-text p {
  color: var(--quinary-color);
  line-height: 24px;
  font-size: 14px;
  font-family: var(--primary-font);
  padding: 0 40px;
}

.banner-button a {
  color: var(--tertiary-color);
  height: 50px;
  width: 130px;
  line-height: 50px;
  font-weight: var(--medium-font-weight);
  border: 1px solid #ffffff;
  margin-top: 30px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  z-index: 1;
  position: relative;
}

.banner-button a:hover {
  color: var(--primary-color);
  border: 1px solid transparent;
}

.banner-button a:first-child {
  margin-right: 40px;
}

.banner-button a::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.banner-button a:hover::after {
  width: 100%;
  background-color: var(--quaternary-color);
  z-index: -1;
}
/* Banner Area End */

/* About Area Start */
.heading h3 {
  font-size: 35px;
  line-height: 24px;
  font-family: var(--secondary-font);
  font-weight: var(--regular-font-weight);
}

.heading p {
  font-size: 14px;
  line-height: 24px;
  font-family: var(--primary-font);
  padding: 30px 30px 0 30px;
}

.about-text {
  padding: 40px 30px;
  background: #eeeeee;
  position: relative;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  cursor: pointer;
}

.about-text:hover {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.about-text h3 {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 50px;
  font-weight: var(--semibold-font-weight);
}

.about-text p {
  font-size: 14px;
  font-family: var(--primary-font);
  line-height: 24px;
  color: var(--secondary-color);
}

.about-img {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/about.jpg) no-repeat center / cover;
  height: 320px;
  width: 320px;
  margin: 25px auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
}

.about-img::after {
  position: absolute;
  content: "";
  height: 385px;
  width: 385px;
  left: 50%;
  top: 50%;
  border: 1px solid #696969;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.left,
.right,
.top,
.bottom {
  position: relative;
}

.top::after {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  background-color: #eeeeee;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  -o-transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}

.top::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #353535;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
}

.left::after {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  background-color: #eeeeee;
  top: 50%;
  right: -15px;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.left::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #353535;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
}

.right::after {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  background-color: #eeeeee;
  top: 50%;
  left: -15px;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.right::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #353535;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
}

.bottom::after {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  background-color: #eeeeee;
  left: 50%;
  top: -15px;
  transform: translateX(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  -o-transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}

.bottom::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #353535;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
}

.top:hover:before,
.left:hover:before,
.right:hover:before,
.bottom:hover:before {
  background-color: #fec600;
}
/* About Area End */

/* Portfolio Area Start */
#portfolio {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url(../images/portfolio-background.jpg) no-repeat center / cover;
  padding: 150px 0;
  margin: 100px 0;
  clip-path: polygon(0 13%, 100% 0, 100% 87%, 0% 100%);
}

#portfolio .heading h3 {
  color: var(--tertiary-color);
}

#portfolio .heading p {
  color: var(--quinary-color);
}

.portfolio-wrapper a {
  width: 100%;
}

.portfolio-wrapper a:last-child {
  margin-top: 20px;
}
/* Portfolio Area End */

/* Service Area Start */
#service {
  margin: 80px 0;
}

.service-card {
  position: relative;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  cursor: pointer;
  padding: 55px 30px;
  background-color: #eeeeee;
}

.service-card:hover {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.service-left,.service-right {
  position: relative;
}

.service-left::after {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  background-color: #eeeeee;
  top: 50%;
  right: -15px;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.service-right::after {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  background-color: #eeeeee;
  top: 50%;
  left: -15px;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.service-card p {
  font-family: var(--primary-font);
  font-size: 14px;
  color: var(--secondary-color);
  line-height: 24px;
}

.service-img {
  height: 80px;
  width: 80px;
  line-height: 80px;
  background-color: #eeeeee;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.service-img::after {
  position: absolute;
  content: '';
  left: 50%;
  top: 92px;
  background: url(../images/service-line.png);
  z-index: -1;
  height: 140%;
  width: 1px;
  opacity: .5;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.slick-center .service-img {
  background-color: #fec600;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.service-text h3 {
  font-family: var(--secondary-font);
  font-size: 18px;
  color: var(--primary-color);
  line-height: 24px;
  text-transform: uppercase;
}

.arrow-up{
  position: absolute;
  height: 40px;
  width: 40px;
  line-height: 40px;
  left: 50%;
  top: 8px;
  cursor: pointer;
  border: 1px solid #353535;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -ms-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.arrow-down {
  position: absolute;
  height: 40px;
  width: 40px;
  line-height: 40px;
  left: 50%;
  bottom: 8px;
  cursor: pointer;
  border: 1px solid #353535;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: ease-in-out .5s;
  -webkit-transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -ms-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.arrow-up:hover, .arrow-down:hover {
  background-color: #fec600;
  border: 1px solid transparent;
}
/* Service Area End */